
# compiler output
*.o
*.so
soil_soldiers.html
soil_soldiers.js
soil_soldiers.data
soil_soldiers.wasm
soil_soldiers.html.mem
soil_soldiers
server

# cache, local settings
.cache
compile_commands.json

# deployment
/service-worker.js

