
# compiler output
*.o
*.so
cengine.html
cengine.js
cengine.data
cengine.wasm
cengine.html.mem
cengine
/server
run_tests

# cache, local settings
.cache
compile_commands.json

# deployment
/service-worker.js

